name: Rust

on: [push]

env:
  CARGO_TERM_COLOR: always

jobs:
  Compile-with-prev-Rust:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Rust 1.64
      run: rustup override set 1.64
    - name: Build
      run: cargo build

